* {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 361px) {
    body {
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 290px) {
    body {
        font-size: 0.6em;
        margin-bottom: 3em;
    }
}

#city-name {
    font-size: 2.3em;
    margin-top: 0.15em;
}

#back-link-icon {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: calc(100% - 2.1em);
}

.grow-box {
    flex-grow: 1;
}

#current-temp-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#current-weather-icon-div {
    margin-top: -1em;
}

#main-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#current-weather-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#current-condition-title {
    text-align: center;
    font-size: 1.4em;
    padding-top: 0.12em;
    color: rgba($color: #000000, $alpha: 0.6);
}

#current-weather-info-div {
    margin-top: 0.7em;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.current-max-data,
.current-min-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    margin-bottom: 0.12em;
    font-size: 1.1em;
    color: rgba($color: #000000, $alpha: 0.7);
}

#current-temp-unit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
    margin-bottom: 0.12em;
    font-size: 1.8em;
    margin-top: 0.3em;
    color: rgba($color: #000000, $alpha: 0.9);
}

.forecast-section-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -0.2em;
    justify-content: center;
    align-content: center;
}

.forecasts-div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-data {
    margin-top: -0.2em;
    font-size: 1.2em;
    color: rgba($color: #000000, $alpha: 0.6);
}

.footer-dub-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 0.7em;
}

.forecast-title {
    margin-bottom: -0.01em;
    padding-bottom: 0px;
    padding-top: -10px;
    color: rgba($color: #000000, $alpha: 0.6);
}

.small-icon {
    margin-bottom: 0.2em;
    color: rgba($color: #000000, $alpha: 0.6);
}

.big-icon {
    padding: 0px;
    color: #000000;
}

#current-temp-data {
    font-size: 7.1em;
    margin-top: -0.1em;
    margin-bottom: -0.2em;
}

.footer-section-div {
    display: flex;
    flex-direction: row;
    padding-top: 3.3em;
    width: 100vw;
    justify-content: center;
}

#forecast-middle-spacer {
    width: 2em;
}

.footer-title {
    font-size: 0.9em;
    color: rgba($color: #000000, $alpha: 0.4);
}

.footer-data {
    font-size: 0.92em;
    padding-top: 0.6em;
    color: rgba($color: #000000, $alpha: 0.6);
}

.vl {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
    height: 1.5em;
    margin-top: 0.8em;
    margin-inline: 0.12em;
}
